<div class="header-bottom" style="margin-top : -50px">
	<div class="wrap">
		<div class="header-bottom-left">
			<div class="logo">
				<a routerLink="/home"><img src="https://www.upsieutoc.com/images/2020/03/28/logo.png" alt="" /></a>
			</div>
			<div class="menu">
				<ul class="megamenu skyblue">
					<li ><a routerLink="/home" routerLinkActive="active grid">Home</a></li>
					<li><a class="color6" routerLink="/about" routerLinkActive="active grid">About</a></li>
					<li><a class="color7" routerLink="/contact" routerLinkActive="active grid">Contact</a></li>
          <li><a class="color7" routerLink="/product/manager" routerLinkActive="active grid">Manager</a></li>
				</ul>
			</div>
		</div>
		<div class="header-bottom-right">
			<div class="search">
				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
			</div>
			<div class="tag-list">
				<ul class="icon1 sub-icon1 profile_img">
				</ul>
				<ul class="icon1 sub-icon1 profile_img">
					<li><a class="active-icon c2" routerLink="/home"> </a>
					</li>
				</ul>
				<ul class="last">
					<li><a href="#">Cart(0)</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>