<app-header></app-header>
<app-slide></app-slide>
<div class="main">
	<div class="wrap">
		<div class="section group">
			<div class="cont span_2_of_3">
				
				<router-outlet></router-outlet>
				<!-- <app-home></app-home> -->
			</div>
			<div class="rsidebar span_1_of_left">
				<div class="top-border"> </div>
				<!-- <div class="border">
						<script src="js/jquery.nivo.slider.js"></script>
						<script type="text/javascript">
							$(window).load(function () {
								$('#slider').nivoSlider();
							}); -->
				<!-- </script> -->
				<!-- <div class="slider-wrapper theme-default">
							<div id="slider" class="nivoSlider">
								<img src="https://www.upsieutoc.com/images/2020/03/28/t-img1.jpg" alt="" />
								<img src="https://www.upsieutoc.com/images/2020/03/28/t-img2.jpg" alt="" />
								<img src="https://www.upsieutoc.com/images/2020/03/28/t-img3.jpg" alt="" />
							</div>
						</div> -->
				<!-- <div class="btn"><a href="">Check it Out</a></div> -->
				<!-- </div> -->
				<div class="top-border"> </div>
				<div class="sidebar-bottom">
					<h2 class="m_1">Newsletters<br> Signup</h2>
						<p class="m_text">Lorem ipsum dolor sit amet, consectetuer</p>
						<div class="subscribe">
							<form>
								<input name="userName" type="text" class="textbox">
								<input type="submit" value="Subscribe">
							</form>
						</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<app-footer></app-footer>