	<div id="fwslider">
		<div class="slider_container">
			<div class="slide">
				<img src="https://www.upsieutoc.com/images/2020/03/28/banner.jpg" alt="" />
				<div class="slide_content">
					<div class="slide_content_wrap">
						<h4 class="title">Aluminium Club</h4>

						<p class="description">Experiance ray ban</p>
					</div>
				</div>
			</div>
			<div class="slide">
				<img src="https://www.upsieutoc.com/images/2020/03/28/banner1.jpg" alt="" />
				<div class="slide_content">
					<div class="slide_content_wrap">
						<h4 class="title">consectetuer adipiscing </h4>
						<p class="description">diam nonummy nibh euismod</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timers"></div>
		<div class="slidePrev"><span></span></div>
		<div class="slideNext"><span></span></div>
	</div>